.language-image {
  height: 64px;
}

.language-image img {
  height: 100%;
  width: auto !important;
}

.fa-github-alt {
  font-size: 36px !important;
}
.fa-github-alt:hover {
  color: black;
}

.fa-linkedin {
  font-size: 36px !important;
}
.fa-linkedin:hover {
  color: darkblue;
}